{% extends "base.html" %}

{% block title %}
New Vehicle
{% endblock %}

{% block nav %}
<!-- <h1>Add New Data</h1> -->
<!-- <a href="/users/{{ username }}"><button type="button">Home</button></a> -->
<ul>
    <li><a href="/#front">Home</a></li>
    <li><a href="/#about-us">About Us</a></li>
    <li><a href="/#global-warming">Global warming</a></li>
    <li><a href="/#api">Free API</a></li>
    <li><a href="/users/{{ username }}">User page</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
<p style="display: none;" id="username">{{ username }}</p>
<div class="container">
    <div class="userContainer">
        <h1>Add New Data</h1>
        <form method="POST">
            <div class="getInputData">
                <div id="showInput">
                    <div id="dataField">
                        <select class="vehicleSelect">
                            <option name="vehicle">Select Vehicle</option>
                            {% if data %}
                                {% for key in data.vehicle %}
                                    <option name="vehicle">{{ key }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <input type="number" name="fuelConsumed" placeholder="Fuel consumed" class="fuelConsumed">
                        <input type="number" name="fuelCost" placeholder="Fuel Cost" class="fuelCost">
                        <input type="text" name="place" placeholder="Place" class="placeName">
                        <button type="submit" name="addNew" class="addNew">Add More</button>
                    </div>
                </div>
                <button type="submit" id="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $(".addNew").click(function(e) {
            e.preventDefault();
            $("#showInput").prepend(`<div id="dataField">
                <select class="vehicleSelect">
                    <option name="vehicle">Select Vehicle</option>
                    {% if data %}
                        {% for key in data.vehicle %}
                            <option name="vehicle">{{ key }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <input type="number" name="fuelConsumed" placeholder="Fuel consumed" class="fuelConsumed">
                <input type="number" name="fuelCost" placeholder="Fuel Cost" class="fuelCost">
                <input type="text" name="place" placeholder="Place" class="placeName">
                <button type="submit" name="remove" class="removeElement">Remove Data</button>
            </div>`);
        });

        $(document).on('click', '.removeElement', function(e) {
            e.preventDefault();
            let rowItem = $(this).parent();
            $(rowItem).remove();
        });

        var username = document.getElementById("username").innerHTML;

        $("#submit").click(function(e) {
            e.preventDefault();
            vehicleName = []
            $(".vehicleSelect").each(function() {
                vehicleName.push($(this).val());
            })
            fuelConsumed = []
            $(".fuelConsumed").each(function() {
                fuelConsumed.push($(this).val());
            });
            fuelCost = []
            $(".fuelCost").each(function() {
                fuelCost.push($(this).val());
            });
            placeName = []
            $(".placeName").each(function() {
                placeName.push($(this).val());
            });
            // console.log(vehicleNameList, vehicleNumberList)
            vehicleNameStr = vehicleName.toString();
            fuelConsumedStr = fuelConsumed.toString();
            fuelCostStr = fuelCost.toString();
            placeNameStr = placeName.toString();
            data = "vehicleName="+vehicleNameStr+"&fuelConsumed="+fuelConsumedStr+"&fuelCost="+fuelCostStr+"&placeName="+placeNameStr;
            console.log(data);
            console.log(username)
            $.ajax({
                url: '/users/'+username+'/addNewData',
                type: 'POST',
                data: data
            });
        })
});
</script>
{% endblock %}